# GIT WILL IGNORE THESE FILES

lib/helib_pack/

# When build, the submodules internal content will be modified
submodules/HElib
submodules/Pybind


# Python stuff
*.egg-info
*~

# Ignore everything build and bin
*build
*bin

# Ignore everything under lib
lib/*